<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<title>CLOVIS BRAY LORE LIBRARY</title>
</head>
<body id="main">
	<div class="center container p-0">
		<div class=" row no-gutters row justify-content-center align-self-center">
			<div class="col-12 text-center">
				<img src="../static/assets/logo.png" alt="" width="128px">
			</div>
		</div>
		<div class="row no-gutters mt-3">
			<div class="col-12 text-center title">
				<p>clovis bray lore LIBRARY</p>
				<p>destiny lore in e-reader format</p>
			</div>
		</div>
		<div class="row no-gutters mt-4">
			<div class="col-12">
				<div class="weird-line">

				</div>
			</div>
		</div>
		<div class="row no-gutters mt-2 section-wrapper">
			<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12  h-100 mb-5">
				<div class="row no-gutters">
					<div class="col-10 mx-auto">
						<ul class="list-section">
							<li class="list-section-item active-group">
								<img id = "2261683515" class = "loregroup" src="https://www.bungie.net/common/destiny2_content/icons/39c41539020ad4e9c7ec560a363d04b0.png">
							</li>
							<li class="list-section-item">
								<img id = "2368205079" class = "loregroup" src="https://www.bungie.net/common/destiny2_content/icons/bf20f817f635e9c379226454ef796330.png">
							</li>
							<li class="list-section-item">
								<img id = "3188244430" class = "loregroup" src="https://www.bungie.net/common/destiny2_content/icons/39ba3c78d0ad06c0728374d591c65821.png">
							</li>
						</ul>
					</div>
					<div class="col-10 mx-auto mt-3 mb-3">
						<div class="weird-line-2">
						</div>
					</div>
					<div class="col-10 mx-auto text-center book-list-section">
					</div>
					<div class="col-10 mx-auto">
						<div class="weird-line-3">

						</div>
					</div>
					<div class="col-10 mx-auto">
						<div class="book-list-section-controls">
							<button class="button list-control up w-100">
								<img src="../static/assets/vector.png" width="14px" height="7px">
							</button>
							<button class="button list-control down w-100">
								<img src="../static/assets/vector.png" width="14px" height="7px">
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 h-100 mb-5">
				<div class="col-12">
					<div class="book">
						<div class="book-info">
							<div class= " book-logo">

							</div>
							<div class="book-name">
								<p id = "bookname"></p>
							</div>
						</div>
						<div class="row no-gutters w-100">
							<div class="col-10 mx-auto">
								<div class="book-controls">
									<a href  = ""><button class="button button-download">
										<div style="width: 14px;"></div>
										<p>epub</p>
										<img src="../static/assets/download.png" alt="" width="14px" height="14px">
									</button></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row no-gutters mt-3">
						<div class="col-12 text-center">
							<a href="#" class="link">СКАЧАТЬ ВСЕ КНИГИ  (ZIP-АРХИВ)</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>
